# Ignore data folders
data/raw/
data/processed/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment folder if stored inside repo
venv_anomaly_project/

# Ignore this C:\GithubRepo\network-traffic-anomaly-detection\network_traffic_anomaly_detection.egg-info
network_traffic_anomaly_detection.egg-info/